.center{
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
}

body{
    background-color:rgb(189,222,227);
}

article {
    margin-left: 100px;
    border-left: 2px solid gray;
    padding: 1em;
    overflow: hidden;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 29px;
}